.DS_Store
/eb-hooks
/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.env
/composer.phar
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
