# ------------------------------------------------------------------------------
# COMMON
# ------------------------------------------------------------------------------

files:
  /etc/httpd/conf.d/server.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        DocumentRoot "/var/www/html/public"
        <Directory "/var/www/html/public">
            Options Indexes FollowSymLinks
            AllowOverride All
            Order allow,deny
            Allow from all
        </Directory>
      </VirtualHost>
