# ------------------------------------------------------------------------------
# APP DEPLOY
# ------------------------------------------------------------------------------

# Pre
files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/03_install_custom_php_modules.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      [ -f /tmp/not-a-new-instance ] && exit 0

      echo "First run. Installing PHP extensions, NOT PROVIDED BY AMI."
      yum install -y php70-zip
      touch /tmp/not-a-new-instance
      chown webapp:webapp /tmp/not-a-new-instance
